# NVIDIA GPU Cloud (NGC) API key
NGC_API_KEY=${NGC_API_KEY}

# Path to the Main USD Stage. This is a path inside the container
# and not on your local disk
USD_URL=/home/ubuntu/usd/world_rtwt_minimal.usda

# Path format for locating STL input files. This is a path inside the container
# and not on your local disk
STL_PATH_FORMAT="/data/low_res/detailed_car_{}/aero_suv_low.stl"

# Triton Inference Server configuration
NIM_TRITON_IP_ADDRESS=aeronim
NIM_TRITON_HTTP_PORT=8080

# Host port for the web frontend (if host network mode set to 5273)
WEB_HOST_PORT=80 #5273


# CUDA device to use for the Kit application
CUDA_DEVICE_KIT=0

# CUDA device to use for the Aero NIM
CUDA_DEVICE_AERONIM=1
