# Apply ignores at repo-root build context
kit-app/_build
kit-app/_repo
kit-app/_compiler
kit-app/_packages
kit-app/**/__pycache__
kit-app/logs
.vscode
app
ext/kit-cgns/source/extensions/service_network